<div class="container">
  <div class="row my-2">
    <h2>Hover the below text</h2>
    <p class="my-2" appHighlight>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <hr />
  <div class="row">
    <h3 for="text">Trim white-space </h3>
    <input
      type="text"
      class="form-control m-2"
      placeholder="Enter text"
      appWhiteSpaceTrim
    />
  </div>
  <hr />
  <div class="row">
    <h3 class="mb-lg-3">Tooltip Example</h3>
    <div
      class="d-flex justify-content-center align-items-center"
      style="position: relative"
    >
      <span
        appTooltip="This is a tooltip."
        [tooltipPosition]="'bottom'"
        [tooltipBackgroundColor]="'#333'"
        [tooltipFontColor]="'#fff'"
        [tooltipFontSize]="'16px'"
        style="cursor: pointer"
      >
        Hover over me to see the tooltip.
      </span>
    </div>
  </div>
</div>
